<div class="pre-header">
    <div class="container">
        <ul>
            <li><a>Delivery</a></li>
            <li><a>FAQ</a></li>
            <li><a>Help</a></li>
        </ul>
        <ul>
            <li><a class="cur">dollars</a></li>
            <li><a class="lang">En</a></li>
        </ul>
    </div>
</div>
<header>
    <div class="container">
        <div class="logo">
            <img class="svg" src="img/logo.svg">
        </div>
        <nav class="nav-bord">
            <ul>
                <li><a>Home</a></li>
                <li><a class="active">Catalog</a></li>
                <li><a>news</a></li>
                <li><a class="accent">Sale</a></li>
                <li><a>Aboutt</a></li>
                <li><a>Contact</a></li>
            </ul>
        </nav>

        <div class="bag">
            <div class="bag-label">your bag</div>
            <div class="bag-count">2</div>
            <div class="search"></div>
        </div>

    </div>
</header>