<header>
    <diV>
        <ul>
            <li><a>Delivery</a></li>
            <li><a>FAQ</a></li>
            <li><a>Help</a></li>
        </ul>
        <ul>
            <li><a>dollars</a></li>
            <li><a>En</a></li>
        </ul>
    </diV>
    <div>
        <div class="logo">
            <img class="svg" src="img/logo.svg">
        </div>
        <ul>
            <li><a>Home</a></li>
            <li><a>Catalog</a></li>
            <li><a>news</a></li>
            <li><a>Sale</a></li>
            <li><a>Aboutt</a></li>
            <li><a>Contact</a></li>
        </ul>
        <div>
            <div>your bag</div>
            <div>2</div>
            <div>search</div>
        </div>
    </div>
</header>