<main class="container">
    <h1>Catalog</h1>

    <ul>
        <li><a class="active">All</a></li>
        <li><a>T-shirts</a></li>
        <li><a>sweaters</a></li>
        <li><a>Shorts</a></li>
        <li><a>jackets</a></li>
        <li><a>ACCESSOIRES</a></li>
    </ul>

    <div class="catalog">
        <figure>
            <p><img src="img/1.jpg" alt="" /></p>
            <figcaption>
               <p class="name">Printed swimsuit</p>
               <p class="cost">$23</p>
            </figcaption>
        </figure>
        <figure>
            <p><img src="img/2.jpg" alt="" /></p>
            <figcaption>
                <p class="name">Jogging bermuda shorts</p>
                <p class="cost"><span class="old">$36</span> <span class="new">$12</span></p>
            </figcaption>
        </figure>
        <figure class="new">
            <p><img src="img/3.jpg" alt="" /></p>
            <figcaption>
                <p class="name">Basic beach flip flops</p>
                <p class="cost">$9</p>
            </figcaption>
        </figure>
        <figure>
            <p><img src="img/4.jpg" alt="" /></p>
            <figcaption>
                <p class="name">Black sunglasses</p>
                <p class="cost">$29</p>
            </figcaption>
        </figure>
        <figure>
            <p><img src="img/5.jpg" alt="" /></p>
            <figcaption>
                <p class="name">Long sleeved twill shirt</p>
                <p class="cost">$20</p>
            </figcaption>
        </figure>
        <figure>
            <p><img src="img/6.jpg" alt="" /></p>
            <figcaption>
                <p class="name">Basic swimsuit</p>
                <p class="cost">$36</p>
            </figcaption>
        </figure>
        <figure>
            <p><img src="img/7.jpg" alt="" /></p>
            <figcaption>
                <p class="name">Bleached shorts</p>
                <p class="cost">$12</p>
            </figcaption>
        </figure>
        <figure>
            <p><img src="img/8.jpg" alt="" /></p>
            <figcaption>
                <p class="name">T-shirt with lower panel</p>
                <p class="cost"><span class="old">$32</span> <span class="new">$12</span></p>
            </figcaption>
        </figure>
    </div>
    <div>
        <a class="">Load More...</a>
    </div>
</main>