footer {
  @include media-breakpoint-up(xs) {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  ul {
    display: flex;
  }

  .logo {
    width: 92px;
    height: 100px;
    @include media-breakpoint-up(xl) {
      margin-right: 120px;
    }
  }

  .copyright {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-transform: none;
    padding-bottom: 20px;
    @include media-breakpoint-up(xs) {
      padding-bottom: 0;
    }
  }
  .nav-bord a {
    color: $theme-color-dark;
    @include media-breakpoint-up(lg) {
      margin: 30px 27px;
    }
  }
}